
@{
    ViewData["Title"] = "EmpList";
}

<h1>EmpList</h1>

<table class="table table-bordered">
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Salary</th>
    </tr>
    @foreach (Employee e in (IEnumerable<Employee>)ViewData["employeelist"])
    {
        <tr>
            <td>@e.Id</td>
            <td>@e.Name</td>
            <td>@e.Salary</td>
        </tr>

    }
</table>

<h4>using ViewBag</h4>

<table class="table table-bordered">
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Salary</th>
    </tr>
    @foreach (Employee e in ViewBag.Employees)
    {
        <tr>
            <td>@e.Id</td>
            <td>@e.Name</td>
            <td>@e.Salary</td>
        </tr>

    }
</table>


